@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input:focus {
  border-color: rgba(110, 231, 183, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(110, 231, 183, 0.1) !important;
}
